# Docker Hub
DOCKER_USERNAME=your_docker_username

# Database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=mydb

# Visual AI
VISUAL_AI_API_KEY=your_api_key
VISUAL_AI_ENDPOINT=https://open.bigmodel.cn/api/paas/v4/chat/completions
VISUAL_AI_MODEL=GLM-4.1V-Thinking-Flash
VISUAL_AI_PROVIDER=glm

# Email SMTP
SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_USERNAME=your_email@163.com
SMTP_PASSWORD=your_smtp_password

# JWT
JWT_SECRET=your_jwt_secret

# Publish Email
PUBLISH_EMAIL_ENABLED=true
